   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="http://w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>
      <script src="http://w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>
      <script>
      $(function (){
         $("#example").popover();
      });
      </script>
      <script>
      $(function (){
         $("#example2").popover();
      });
      </script>


<h1 class="center">Edit <%= resource_name.to_s.humanize %></h1>
<a style="text-allign: center;">
<%= devise_error_messages! %>
</a>
<div class="form-signin">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control", :style => "width: 200px;",:placeholder => "Example@mail.com" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> </div>

 <a rel="popover" id="example"data-content="Leave this blank if you don't want to change it!">
  <%= f.password_field :password, :autocomplete => "off", :class => "form-control", :style => "width: 200px;",:placeholder => "************" %></a>



  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width: 200px;",:placeholder => "************" %></div>

  <div><%= f.label :current_password %>
    </div>
   <a rel="popover" id="example2"data-content="We need your current password to confirm your changes!"
      >
  <%= f.password_field :current_password, :class => "form-control", :style => "width: 200px;",:placeholder => "************" %> </a>

<br />

  <div><%= f.submit "Update", :class => "btn btn-info", :style => "width: 200px;"  %></div>
<% end %><br />

<h3>Cancel my account</h3>

<p> This is not a place for me.. <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete,  :class => "btn btn-danger", :style => "width: 200px;" %></p>
</div>
</div>
<hr></hr>
<%= link_to "Back", :back %>