<%= form_for(@setting, :html => { :multipart => true }) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, :class => "h3"%><br>
    <%= f.text_field :title, :class => "form-control", :placeholder => "Add a Title "%>
  </div><br />
  <div class="field">
    <%= f.label :description, :class => "h3"%><br>
    <%= f.text_area :description, :class => "form-control", :rows => "3", :placeholder => "Add a Description" %>
  </div><br />
  <div class="field">
    <%= f.label :paragraph, :class => "h3" %><br>
    <%= f.text_area :paragraph, :class => "form-control", :rows => "5", :placeholder => "Add a Paragraph " %>
  </div><br />
   <div class="visible-xs">
  <%= f.file_field :photo, :style => "center" %>
  <%= f.check_box :photo_delete, :style => "center" %> &nbsp;Delete Photo
</div><br />
   <div class="visible-md visible-lg">
  <%= f.file_field :photo, :style => "float: left;" %>
  <%= f.check_box :photo_delete, :style => "float: left;" %> &nbsp;Delete Photo
  </div><br />
  <div class="center">
    <%= f.submit :class => "btn btn-info", :style => "margin-top: 20px;"%>
  </div>
  <br />
<% end %>
