<% title "Contact" %> <!-- Set Spicific Title !-->
<% if admin_signed_in? %>

<script type="text/javascript">
var isOn = false;
$(function(){
  $('.sidemennu').css({'display': 'none'})
$('#sidemennubutton').click(function(){
  $('.sidemennu').toggle();
    console.log(isOn);
    if (isOn){
      isOn = false;
      $("#sidemennubutton").removeClass("col-md-push-2");
      $('.contactcontent').removeClass("col-md-10 col-md-push-2");
    } else {
      isOn = true;
      $("#sidemennubutton").addClass("col-md-push-2");
      $('.contactcontent').addClass("col-md-10 col-md-push-2");
    }
});

$("#Settingabout1, #parent1").hover(function(){
  $("#parent1").css({opacity: 1.0});
  },function(){
  $("#parent1").css({opacity: 0.5});
  });

$("#Settingabout2, #parent2").hover(function(){
  $("#parent2" ).css({opacity: 1.0});
  },function(){
  $("#parent2").css({opacity: 0.5});
  });


});

</script>

<!-- ################################## SIDEMENU ############################################-->

<div class="hidesettingshelper visible-lg visible-md">
  <div class="sidemennu">
    <div class="col-md-2 SettingsHelper" style="position: fixed; z-index: 1">
      <div class="wrap" style="color:white;">
        <h3 style="margin-top:5%; text-align:center !important;">Settings <i class="glyphicon glyphicon-edit" style="font-size: 19px;"></i></h3>
        <div class="well" style="background:#1b8aba !important; border-color:#187ba5 !important; width:100% important!; text-align:none !important;">

          <!-- ABOUT 1 SETTINGS -->
          <div id="Settingabout1" style="text-align: center;">
              <h4>Contact 1</h4>
              <h5>Photo</h5>
              <h5>Title</h5>
              <h5>Paragraph</h5>
              </p>

              <%= link_to edit_setting_path(Setting.find(13)) do %>
                  <p class="btn custumbtn" style="color:white">1</p>
                <% end %>
          </div>

          <hr style="border-color:#187ba5;"></hr>

          <!-- ABOUT 2 SETTINGS -->
          <div id="Settingabout2" style="text-align:center;">
            
              <h4>Contact 2</h4>
              <h5>Photo</h5>
              <h5>Title</h5>
              <h5>Paragraph</h5> 
 
                <%= link_to edit_setting_path(Setting.find(14)) do %>
                  <p class="btn custumbtn" style="color:white">2</p>
                <% end %>
	      </div> 
        </div> 
      </div>
    </div>
  </div>
</div>

<!-- ################################## SIDEMENU END #########################################-->

<!-- SidemenuButton-->
<div class="visible-lg">
  <div id="sidemennubutton" href="#" class="btn btn-info" style="position: fixed; z-index: 1">
    <p style="color:white;"><i class="glyphicon glyphicon-align-left"></i></p>
  </div>
</div>
<!-- SidemenuButton End-->
<div class="contactcontent">
<section>
<div id="parent1" class="center parent">
<% setting = Setting.find(13)%>
<p>
 <%=raw setting.paragraph.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
</p>
</div>
<div id="parent2" class="center form-signin-show parent" style="padding-left: 5%; padding-right: 5%;">
<address>
  <% setting = Setting.find(14)%>
<strong><%= setting.title %></strong><br>
<% setting = Setting.find(14)%>
<p>
 <%=raw setting.description.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
</p>
</address>
</div>
</section>
</div>

<!--############################################## END ADMIN       ################################################ -->

<% else %>

<section>
<div class="center" style="margin-top: -1.5%;">
<% setting = Setting.find(13)%>
<p>
 <%=raw setting.paragraph.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
</p>
</div>
<div class="center form-signin-show" style="padding-left: 5%; padding-right: 5%;">
<address>
  <% setting = Setting.find(14)%>
<strong><%= setting.title %></strong><br>
<% setting = Setting.find(14)%>
<p>
 <%=raw setting.description.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
</p>
</address>
</div>
</section>

 <br /><br /><br /><br />
<% end %>