<% title "News" %> <!-- Set Spicific Title !-->
<div class="thumball">
	<h1 style="text-align: center;">News</h1>
	<hr class="visible-md visible-lg"></hr>
	<hr class="visible-xs" style="border-color: rgba(51,51,51,0.3);"></hr>
	<div class="visible-md visible-lg">
	<% @posts.each do |post| %>
		<div class="row-fluid col-md-3">
		<%= link_to post do %>
			<div class="thumbnail1" style="height: 290px; margin-bottom: -1%; margin-top: -7%; padding-left: 5%; padding-right: 5%; display:block; border-top-width: 10px;">
				<h2 style="text-align: center; padding-top:5%;"><%= post.title.capitalize %></h2>
				<h5 class="text-muted"><%= post.created_at.strftime("%A %H. %M %p - %B %d %Y ") %> </h5>
				<p class="Feed" style="padding-left:1%;">
				<%= post.content.capitalize.split[0..40].join(" ") %>...</p>
			</div>
		<% end %><br />
		</div>
	<% end %>
	</div>
	<div class="visible-xs">
	<% @posts.each do |post| %>
		<div class="row-fluid col-md-3">
		<%= link_to post do %>
			<div class="thumbnail1 visible-xs" style="height: 290px; margin-bottom: -1%; margin-top: -7%; padding-left: 5%; padding-right: 5%; display:block; border-top-width: 10px;">
				<h2 style="text-align: center; padding-top:5%;"><%= post.title.capitalize %></h2>
				<h5 class="text-muted"><%= post.created_at.strftime("%A %H. %M %p - %B %d %Y ") %> </h5>
				<p class="Feed" style="padding-left:1%;"><%= post.content.capitalize.split[0..40].join(" ") %>...	
				</p>	
			</div>
			<% end %><br />
		</div>
		<hr class="visible-xs" style=" margin-left:0%; margin-right:0%; overflow: hidden; text-align: none; border-color: rgba(51,51,51,0.3);"></hr>
		<br />
	</div>	
	<% end %>
</div>
</div>