
<div style=" height: 40%;">
<h1 class="center">
  <%= @project.title %>
</h1>
<hr></hr>
<div>
    <div class="form-signin-show">
      <br />
      <% if @project.description? %>
        <p style=" margin-bottom: 5%;" >
        <%=raw @project.description.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
        </p>
        <% end %>
      </div>
      <p id="popup" align="center"></p>
      <video id="video1" align="center" preload controls style="margin-left: 20%; margin-right: 20%;" autoplay="true"></video>
      <div style="padding-left: 6.3%; padding-right: 6.3%;">
<div class="row" style="margin-right: auto; margin-left: auto; text-align: center;">   
<% @project.assets.each do |asset| %>
 <li class="span1" style="border: none; display: inline-block !important; float: none !important; padding-bottom: 4px !important;">
  <% if asset.photo.file? %>
       <%= link_to asset.photo.url, class: :popup_link, target: :_blank do %>
       <span class="roll" style="padding-right:3% !important;"></span>
         <%= image_tag asset.photo.url(:thumb), :style =>"padding-right:3% !important;" %>
      <% end %>
  <% end %>
                                          <!-- Video -->
    <!-- =========================================================================================== -->

      <% if asset.video.file? %>
          <%= link_to asset.video.url, class: :popup_link2, target: :_blank do %>
             <span class="roll2"></span>
             <img class="picture1" src='http://i.imgur.com/psxrXi5.png'></img>
        <% end %>
        </li>
 
        <% end %>
        <% end %>

  </div>
</div>
<hr></hr>


<div class="center" id="gohere">
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %> 
<%= link_to 'Back', projects_path %>
</div><br /><br />


<script type="text/javascript">
$('.span1').click(function () {
    $('html, body').animate({scrollTop:$(document).height()}, 1500);
    return false; 
});
  $(document).ready(function() {
     $(".popup_link").click(function(e) {
        e.preventDefault();
        $("#popup").html( $('<img>').attr('src', this.href) );
        $("#popup").show();
        $("#video1").css({'width': '0', 'height':'0'});
        $("#video1").attr('src', "");
     });
  });
  $(document).ready(function() {
     $("#popup").click(function() {
$("#popup img").remove();

});
  });

$(document).ready(function() {
     $(".popup_link2").click(function(e) {
        e.preventDefault();
        $("#video1").attr('src', this.href);
        $("#video1").css({'width': '60%', 'height':'400'});
        $("#popup").hide();
     });
  });
  $(document).ready(function() {
     $("#video").click(function() {
$("#video video").remove();

});
  });

$(function() {
// OPACITY OF BUTTON SET TO 0%
$(".roll").css("opacity","0");
 
// ON MOUSE OVER
$(".roll").hover(function () {
 
// SET OPACITY TO 70%
$(this).stop().animate({
opacity: .7
}, "fast");
},
              
 
// ON MOUSE OUT
function () {
 
// SET OPACITY BACK TO 50%
$(this).stop().animate({
opacity: 0
}, "slow");
});
});

$(function() {
// OPACITY OF BUTTON SET TO 0%
$(".roll2").css("opacity","0");
 
// ON MOUSE OVER
$(".roll2").hover(function () {
 
// SET OPACITY TO 70%
$(this).stop().animate({
opacity: .7
}, "fast");
},
              
 
// ON MOUSE OUT
function () {
 
// SET OPACITY BACK TO 50%
$(this).stop().animate({
opacity: 0
}, "slow");
});
});

("#Settingabout3, #parent3").hover(function(){
  $("#parent3").css({opacity: 1.0});
  },function(){
  $("#parent3").css({opacity: 0.5});
  });

</script>